<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Hola</h1>
    <!--<form th:action="@{/auth/registro}" th:object="paciente" method="post">

      <div class="row">
        <label class="col-md-3">Nombre</label>
        <input  type="text" class="col-md-7" th:field="{'nombre'}">
        <small th:if="${#fields.hasErrors('nombre')}" th:errors="{'nombre'}"></small>
      </div>

      <div class="row">
        <label class="col-md-3">Nombre</label>
        <input  type="text" class="col-md-7" th:field="{'apellidos'}"/>
      </div>

      <div class="row">
        <label class="col-md-3">Nombre</label>
        <input  type="text" class="col-md-7" th:field="{'contrasena'}"/>
      </div>

      <div class="row">
        <label class="col-md-3">Nombre</label>
        <input  type="text" class="col-md-7" th:field="{'email'}"/>
      </div>

      <div class="row">
        <label class="col-md-3">Nombre</label>
        <input  type="text" class="col-md-7" th:field="{'dni'}"/>
      </div>

      <div class="row">
        <label class="col-md-3">Nombre</label>
        <input  type="text" class="col-md-7" th:field="*{'telefono'}"/>
      </div>
    </form>-->
</body>
</html>